.menuhesap {
text-decoration:none;
}
/*Button*/
	.b1ck {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	/*box-shadow:inset 0px 1px 0px 0px #ffffff;*/
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) ) !important;
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% ) !important;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf') !important;
	background-color:#ededed !important;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-family:arial;
	font-size:10px;
	font-weight:bold;
	padding:4px 11px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
}.b1ck:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #0069A2), color-stop(1, #0069A2) ) !important;
	background:-moz-linear-gradient( center top, #0069A2 5%, #0069A2 100% ) !important;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#0069A2') !important;
	background-color:#0069A2 !important;
	color:#FFF;
	text-shadow:none;
	cursor:pointer;
}.b1ck:active {
	position:relative !important;
	top:1px;
}
